CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;


NET "WriteData<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "WriteData<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "WriteData<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "WriteData<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "WriteData<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "DataAdr<0>" LOC = P124 | IOSTANDARD = LVTTL;
NET "DataAdr<1>" LOC = P123 | IOSTANDARD = LVTTL;
NET "DataAdr<2>" LOC = P111 | IOSTANDARD = LVTTL;
NET "DataAdr<3>" LOC = P112 | IOSTANDARD = LVTTL;
NET "DataAdr<4>" LOC = P114 | IOSTANDARD = LVTTL;
NET "DataAdr<5>" LOC = P115 | IOSTANDARD = LVTTL;
NET "DataAdr<6>" LOC = P116 | IOSTANDARD = LVTTL;
NET "DataAdr<7>" LOC = P117 | IOSTANDARD = LVTTL;